DB_ENGINE=postgresql+asyncpg
DB_NAME=
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=

DB_ALEMBIC_HOST=
DB_ALEMBIC_PORT=5431
DB_MIGRATION_ENGINE=postgresql+psycopg2

AUTHENTICATION_JWT_PRIVATE_KEY_PATH=
AUTHENTICATION_JWT_PUBLIC_KEY_PATH=
AUTHENTICATION_JWT_ACCESS_EXPIRATION_SECONDS=300
AUTHENTICATION_JWT_REFRESH_EXPIRATION_SECONDS=3600
