DB_ENGINE=
DB_NAME=
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=

DB_ALEMBIC_HOST=
DB_MIGRATION_ENGINE=

AUTHENTICATION_JWT_PRIVATE_KEY=
AUTHENTICATION_JWT_PUBLIC_KEY=
AUTHENTICATION_JWT_ACCESS_EXPIRATION_SECONDS=
AUTHENTICATION_JWT_REFRESH_EXPIRATION_SECONDS=
